.titulo-principal__numero span
  color: $color-secundario !important

.bg01
  background-color: lighten($color-primario, 14%) !important

.bg02
  background-color: lighten($color-acento-contenido, 20%) !important

.bg03
  background-color: lighten($color-secundario, 22%) !important

.imgW250
  max-width: 250px !important

.linea-tiempo-d__item__content
  background-color: #EEE0FF !important

.rounded19
  border-radius: 19px

.bgC02
  background-color: #1D1A16 !important

.bgC03
  background-color: #FBF7FF !important

.bgImg02
  background-image: url("../assets/curso/tema2/img02.png")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.lista-ol--cuadro__vineta
  background-color: $color-secundario !important

.lista-ul--color li > i:first-of-type
  color: $color-secundario !important

.DecTextIzq
  position: relative 
  div
    position: relative
    z-index: 1
    padding: 8px 14px

.DecTextIzq::before
  content: ""
  display: block
  position: absolute
  top: 0 !important
  width: 30%
  bottom: 0
  left: 0 !important
  height: 40%
  right: 0
  background-color: lighten($color-primario, 20%) !important

.hrNew
  background-color: transparent !important
  border-top: 2px dotted #A0A0A0 !important

